.activeMaps {
  background-color: rgba(0,0,0,0.92);
  color: #f5f5f7;
  display:flex;
  justify-content: space-around;
  height: 44px;
  margin: auto;
  margin-bottom: 16px;
  line-height: 44px;

  .selectedMap {
      opacity: 1;
      font-weight: 600;
      color: #ffffff;
  }
}

.navigation ul { 
  font-size: 12px;
  font-family: sans-serif;
  max-width: 100%;
  list-style: none; 
  margin: 0; 
  padding: 0;
  display: flex; 
  justify-content: space-between;
  text-align: center;
}

.navigation li {
  cursor: pointer; 
  color: #f5f5f7;
  padding: 0 12px;
  opacity: 0.8;
}

.navigation li:hover {
  opacity: 1;
}

@media all and (max-width: 1000px) { 

}

.centerContent {
  text-align: center;
  margin-top: 30px;
}