html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.container {
    max-width: 1280px;
    margin: auto;
    margin-top: 30px;
}

h1 {
    text-align: center;
}

.activeMaps {
    text-align: center;
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    width: 50%;
    margin: auto;
    margin-bottom: 16px;
    list-style: none;
    cursor: pointer; 
    //color: #5e6984;
    //padding: 12px;

    .selectedMap {
        font-weight: 600;
        color: #1e222b;
    }

    /*.mapNames {
        max-width: 100%;
        list-style: none;
        cursor: pointer; 
        padding: 0 16px;
    }*/
}

.navigation {
    width: 100%;
}

.navigation ul { 
    max-width: 100%;
    list-style: none; 
    margin: 0; 
    padding: 0;
    display: flex; 
    justify-content: space-between;
}

.navigation li {
    flex: 3; 
    }

.navigation .user { 
    flex: 1;
}

@media all and (max-width: 1000px) { 
    .navigation ul { flex-wrap: wrap; }
    .navigation li { 
        flex: 1 1 50%; 
        text-align: center;
    } 
}

.centerContent {
    text-align: center;
    margin-top: 30px;
}